html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#page {
    display: table;
    height: 100%;
    width: 100%;
    background: yellow;
}

.header {
    display: table-row;
}

.content {
    display: table-row;  /* height is dynamic, and will expand... */
    height: 100%;        /* ...as content is added (won't scroll) */
    background: white;   /* should not be visible*/
    overflow: hidden;
}

.content_aux {
    position: relative;
    height: 100%;
    width: 100%;
}

.footer {
    display: table-row;
}


/* div over the content page (graph)*/
#other_side {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 72%;
    max-height: 98%;
    text-align: left;
    overflow:auto;
}


/* Graph */
#vz_threejs_main {
    position: absolute;
    width:100%;
    height: 100%;
}

#vz_threejs_main canvas{
    position: absolute;
    left: 0px;
    top: 0px;
}

/* Loading GIF */
#loading-indicator {
    position: fixed;
    z-index: 900;
    left:0;
    right:0;
}
#loading-indicator>div {
    text-align: right
}
#loading-indicator>div>img {
    margin: 13px;
}
@media (min-width: 768px) {
    #loading-indicator>div>img {
        margin-right: -15px;
    }
}

/* -------- Footer -------- */
#footer {
  background-color: #F8F8F8;
}

#footer > .container {
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

#footer a {
    color:#444;
}

/* ------ Components  ------ */

/* -- Query -- */
#query_home_contener{
    position: absolute;
    width:100%;
    margin-top: 10%;
    z-index: 500;
}

#query_form {
    border-bottom: none;
}
/* for screen >= 768 */
@media (min-width: 768px) {
    #query_form input.query_input {
        width: 340px;
    }
}

#query_form .engine_on_off {
    margin: 3px;
}

#query_form .engine_on_off:hover {
    text-decoration: none;
}

/* -- Did you mean -- */
div.suggest{
    margin-left: 5px;
}

div.suggest ul {
    display: inline;
    margin: 0;
    padding: 0;
}

div.suggest ul li{
    display: inline;
}


div.suggest ul li a em{
    font-weight: bold;
}

div.suggest ul li:after{
    content: ", ";
}

div.suggest ul li:last-child:after{
    content: "";
}

/* -- what in common for more than 2 docs -- */
#doc_in_common {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 0px;
    min-width: 300px;
    width: 25%;
    text-align: left;
    background-color: rgba(240, 240, 242, 0.75);
    overflow:hidden;
}

/* -- clustering -- */
#clustering_items {
    position: absolute;
    display: none;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 300px;
    width: 25%;
    margin:0;
    text-align: left;
    overflow-y:auto;
    overflow-x:hidden;
    z-index:800
}

#clustering_items>ul {
    list-style: none;
    padding: 3px;
    line-height: 180%;
}

#clustering_items>ul.cluster.active {
    background-color: red;
}

#clustering_items>ul li.cluster{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    padding: 0px 3px;
    border: 1px solid white;
    text-align: center;
    cursor:pointer;
}

#clustering_items>ul li.cluster.active{
    opacity: 1;
}
#clustering_items>ul li.cluster.unactive{
    opacity: 0.5;
}

#clustering_items>ul li.cluster:hover{
    border: 1px black solid;
}

#clustering_items>ul li.cluster ul.label_list{
    list-style: none;
    padding: 0px;
}

#clustering_items>ul li.cluster li.clabel{
    list-style: none;
    display: inline-block;
    height: 1.4em;
    line-height: 1.4em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
}

/* Add comma between labels */
#clustering_items>ul li.cluster li.clabel:after {
  content: ", ";
}

#clustering_items>ul li.cluster li.clabel:last-child:after {
  content: "";
}

#clustering_items>ul li.cluster li.clabel a{
    color: #111;
}
#clustering_items>ul li.cluster li.clabel a:hover{
    text-decoration: underline;
}


