<!DOCTYPE html>
<html lang="en">
<head>
    <title>Naviprox for CNRTL</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  require JS    -->
    <script data-main="{{url_for('static', filename='main')}}" src="{{url_for('static', filename='lib/require.js')}}"></script>
    <script>
        // choice of the app to load
        define('global', {
            app: 'app_graph',
        });
    </script>

    <!--  Bootstrap CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" type="text/css" />

    <!--  our CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_graph.css')}}" type="text/css" />

    <script id="ClusterLabel" type="text/template">
        <a href='#' class='clabel' style='font-size:<%= size %>px' alt='graph from \'<%= label %>\''><%= label %></a>
    </script>

</head>

<body>
<div id='page' data-root-url='{{ root_url }}'>

    <div id="loading-indicator" style="display:none;" >
        <div class="container"><img src="{{url_for('static', filename='loading.gif')}}" /></div>
    </div>


    <div class="head">head</div>
    <div class="content"><div class="content_aux">
        <div id='other_side'></div>
        <div id='vz_threejs_main'></div>

        <div id='right_pane' class="text-right">

            <div class="ctrl clearfix">
                <div class="btn-group btn-group-xs pull-right">
                    <button id="ctrl-cluster" type="button" class="btn btn-default collapsed" data-toggle="collapse" data-target="#clustering_items">
                      clusters
                    </button>
                </div>
            </div>

            <div id='clustering_items' class="text-center collapse">
            </div>
        </div>

    </div></div><!-- /.content -->

    <div id='footer'>
        <div class="container text-center">
        </div>
    </div>

</div> <!-- /.page -->
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.kodexlab.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 6]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://stats.kodexlab.com/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
